{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "compat",
    "react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "compat/compat": 2,
    "prettier/prettier":  ["error", {"singleQuote": true, "trailingComma": "all"}]
  }
}
