.NotFound {
  margin: 0 auto;
  padding-top: 25vh;
  width: 150px;
}

.NotFound__Icon {
  display: block;
  margin: 0 auto;
  opacity: 0.4;
  width: 6.25rem;
}

.NotFound__Text {
  text-align: center;
}
