@import 'no-style';
@import '~bootstrap/scss/variables';

.Errors {
  @include ol-no-style;
  bottom: 40px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 250px;
  z-index: $zindex-popover;
}

.Errors__Error {
  background-color: rgba(25, 25, 25, 0.9);
  border-radius: 0.5rem;
  border-width: 0;
  color: #fff;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
}

.Errors__Error__Icon {
  height: 0.8rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}
