@import 'variables';
$spinkit-spinner-color: $main-color;

@import '~spinkit/scss/spinners/3-wave';

.sk-rect:not(:last-child) {
  margin: 0 3px 0 0;
}

.sk-wave {
  margin-top: 60px;
}

.Spinner--FullPage {
  padding-top: 35vh;

  .sk-wave {
    margin: 0 auto;
  }
}
