@import 'variables';
$spinkit-spinner-color: $main-color;

@import '~spinkit/scss/spinners/3-wave';
$spinkit-spinner-color: #656565;
@import '~spinkit/scss/spinners/10-fading-circle';

.sk-rect:not(:last-child) {
  margin: 0 3px 0 0;
}

.sk-wave {
  margin-top: 60px;
}

.Spinner--FullPage {
  padding-top: 35vh;

  .sk-wave {
    margin: 0 auto;
  }
}

.sk-fading-circle {
  display: inline-block;
  height: 0.625rem;
  margin: 0;
  width: 0.625rem;
}
