@import 'no-style';
@import 'variables';
@import '~bootstrap/scss/mixins';

$tweet-profile-picture-col-width: 3.4rem;
$tweet-profile-picture-col-width-lg-mobile: 3.6rem;
$tweet-profile-picture-col-width-lg: 3.8rem;

.TweetProfilePicture {
  height: auto;
  width: 100%;
}

.TweetProfilePicture__Column {
  padding-right: 0.4rem;
  width: $tweet-profile-picture-col-width;
}

.Retweet {
  margin-left: $tweet-profile-picture-col-width;
}

.NoUpperPadding {
  padding-top: 3px !important;
}

@media (min-width: 375px) {
  .TweetProfilePicture__Column {
    padding-right: 0.6rem;
    width: $tweet-profile-picture-col-width-lg-mobile;
  }

  .Retweet {
    margin-left: $tweet-profile-picture-col-width-lg-mobile;
  }
}

@include media-breakpoint-up(sm) {
  .TweetProfilePicture__Column {
    padding-right: 0.8rem;
    width: $tweet-profile-picture-col-width-lg;
  }

  .Retweet {
    margin-left: $tweet-profile-picture-col-width-lg;
  }
}

.Tweet__Info__Name,
.Tweet__Info__Username {
  margin-right: 0.3rem;
}

.Tweet__Info__Name {
  color: inherit;
  font-weight: bold;
}

.Tweet__Info--Main {
  margin-top: 0.2rem;
  line-height: 1.2;
}

.Tweet__Content {
  margin-bottom: 0;
}

@include media-breakpoint-up(lg) {
  .Tweet__Content {
    margin-bottom: 0.4rem;
  }
}

.Mention,
.Hashtag {
  color: $main-color;
}

.ReplyTo {
  font-size: 0.9rem;
  line-height: 1;
  margin-bottom: 0.3rem;
  margin-top: 0.2rem;
}

.Retweet__Icon {
  height: 0.7em;
  margin-right: 0.2rem;
}

.Retweet__Link {
  color: inherit;
}

.Tweet__Action {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 0.5rem;
  width: 5rem;
}

@include media-breakpoint-up(lg) {
  .Tweet__Action {
    width: 6rem;
  }
}

.Tweet__Action__Button {
  text-align: left;
  @include button-no-style;
}

.Tweet__Action__Button:focus {
  outline: none;
}

@include media-breakpoint-down(md) {
  // Increase the hit box of the button that might appear small on mobile
  .Tweet__Action__Button {
    margin: -3px;
    padding: 3px;
  }
}

.Tweet__Action__Button--Active {
  color: $main-color;
}


.Tweet__Action__Button__Icon {
  height: 0.9rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.Tweet__Action__Button:hover {
  opacity: 0.7;
}

.MainTweet__Header {
  margin-bottom: 0.8rem;
}
