@import 'no-style';
@import 'variables';
@import '~bootstrap/scss/mixins';

.Tweet__Info span {
  margin-right: 0.3rem;
}

.Tweet__Info__Name {
  font-weight: bold;
}

.Tweet__Content {
  margin-bottom: 0;
}

@include media-breakpoint-up(lg) {
  .Tweet__Content {
    margin-bottom: 0.4rem;
  }
}

.Mention,
.Hashtag {
  color: $main-color;
}

.ReplyTo {
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

.Tweet__Action {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 0.5rem;
  width: 5rem;
}

@include media-breakpoint-up(lg) {
  .Tweet__Action {
    width: 6rem;
  }
}

.Tweet__Action__Button {
  text-align: left;
  @include button-no-style;
}

.Tweet__Action__Button:focus {
  outline: none;
}

@include media-breakpoint-down(md) {
  // Increase the hit box of the button that might appear small on mobile
  .Tweet__Action__Button {
    margin: -3px;
    padding: 3px;
  }
}

.Tweet__Action__Button--Active {
  color: $main-color;
}


.Tweet__Action__Button__Icon {
  height: 0.9rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.Tweet__Action__Button:hover {
  opacity: 0.7;
}
