@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import '404';
@import 'buttons';
@import 'error';
@import 'profile';
@import 'spinner';
@import 'transitions';
@import 'tweet';

$padding-sides: 10px;
$padding: 1rem;
$large-padding: 1.2rem;

.SmallPadding {
  padding: $padding $padding-sides;
}

@include media-breakpoint-up(sm) {
  .SmallPadding {
    padding: $large-padding;
  }
}

.SmallPadding--Sides {
  padding-left: $padding-sides;
  padding-right: $padding-sides;
}

@include media-breakpoint-up(sm) {
  .SmallPadding--Sides {
    padding-left: $large-padding;
    padding-right: $large-padding;
  }
}

body {
  background-color: #ededed;
}

.MainColumn {
  margin: auto;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .MainColumn {
    width: 520px;
  }
}

@include media-breakpoint-up(lg) {
  .MainColumn {
    width: 600px;
  }
}

.Header {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.ListSkin {
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
}

.LightText {
  color: $gray-700;
}
