@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../variables';
@import '../no-style';

@import 'nav-mobile';
@import 'searchbar';

.Nav {
  background-color: $main-color;
  color: #fff;
  height: $nav-height;
  left: 0;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-sticky;
}

@include media-breakpoint-up(md) {
  .Nav {
    background-color: #fff;
    border-bottom: 1px solid #c3c3c3;
    color: inherit;
    height: $nav-height-desktop;
  }
}

.Nav__Link {
  color: #fff;
  font-weight: bold;
}

.Nav__Link:focus,
.Nav__Link:active {
  color: #f5f5f5;
}

@include media-breakpoint-up(md) {
  .Nav__Link {
    color: inherit;
    transition: color 0.1s;
  }

  .Nav__Link:hover {
    color: $gray-500;
  }

  .Nav__Link:focus {
    color: $gray-600;
  }
}

.Nav__Link ~ .Nav__Link {
  margin-left: 1rem;
}

.Nav__Link:focus,
.Nav__Link:hover {
  text-decoration: none;
}

.NavComposeLink {
  color: #fff;
  float: right;
}

.NavComposeLink:focus,
.NavComposeLink:hover,
.NavComposeLink:active {
  color: #f5f5f5;
}

@include media-breakpoint-up(md) {
  .Nav__NotLoggedIn {
    @include float-right;
  }

  .Nav__NotLoggedIn__SignUpLogIn {
    padding-left: 2rem;
  }
}

@include media-breakpoint-down(md-mobile) {
  .Nav__NotLoggedIn__SignUpLogIn {
    @include float-right;
  }
}
