@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'tweet';

body {
  background-color: #ededed;
}

.TweetList {
  margin: auto;
  width: 520px;
  @include ol-no-style;
}

.ListSkin {
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
}

